<header class="thin">
	<h1>Change currency</h1>
	{{back-button}}
</header>

<section class="thin">
	<ul>
	{{#each model as |currency|}}
		<li class="{{if currency.selected 'selected-currency'}}" {{action 'selectCurrency' currency}}>
			{{currency.name}} &middot; {{#if currency.symbol}}{{currency.symbol}}{{else}}{{currency.id}}{{/if}}
		</li>
	{{/each}}
	</ul>
</section>
