<header class="thin">
	<h1>Settings</h1>
	{{back-button}}
</header>

<section class="thin">
	<ul>
		{{link-to 'Accounts' 'accounts' tagName="li" data-icon="accounts"}}
		{{link-to 'Cloud' 'cloud' tagName="li" data-icon="cloud"}}
		<li class="separator" />
		<li {{action 'exportData'}} data-icon="export">Export data</li>
		<li {{action 'clearData'}} data-icon="clear">Clear all data</li>
		<li class="separator" />
		{{link-to 'About' 'settings.about' tagName="li" data-icon="about"}}
		<li {{action 'rate'}} data-icon="rate">Rate Index</li>
		<li {{action 'share'}} data-icon="share">Share Index</li>
	</ul>
</section>
