<header class="thin">
	<h1>Edit account</h1>
	{{back-button}}
</header>

<section>
	<form {{action 'edit' on='submit'}}>
		<label>
			<strong>Name</strong>
			{{input type="text" value=model.name placeholder="Example: My secret account"}}
		</label>
		<label>
			<strong>Currency</strong>
			{{input type="text" value=query placeholder="Search for the default currency for this account"}}
			{{#if currencies}}
				<ul>
				{{#each currencies as |currency|}}
					<li {{action 'selectCurrency' currency}}>{{currency.name}} &#183; {{currency.print}}</li>
				{{/each}}
				</ul>
			{{/if}}
		</label>
		<hr>
		<label>
			<strong>Adjustment</strong>
			{{input type="number" step="any" required=true pattern="^\d+\.\d{2}$" value=total placeholder="Adjusted account balance"}}
			<p>If this account is out of sync, enter the new balance and Index will make the adjustment</p>
		</label>
		<hr>
		<p class="buttons">
			<button type="submit">Save</button>
			<button type="button" class="red" {{action 'remove'}}>Remove</button>
		</p>
	</form>
</section>
