<header class="thin">
	<h1>Cloud</h1>
	{{back-button}}
</header>

<section>
	<p>Enable Index cloud sync and access your data from our mobile, desktop and web apps.</p>
	<hr>
	{{#if user}}
	<p>
		<a class="hero red" {{action 'logout'}}>Logout</a>
	</p>
	{{else}}
	<p>
		<a class="hero primary" {{action 'login'}}>Login</a>
		<a class="hero" {{action 'signUp'}}>Sign up</a>
	</p>
	{{/if}}
</section>
