<header class="thin">
	<h1>Add expense</h1>
	{{back-button}}
</header>

{{#if account}}
	{{#if category}}
		{{#if node}}
		<section class="expenses">
			<form {{action 'submit' on='submit'}}>
				<label>
					<strong>Amount</strong>
					{{input type="number" step="any" required=true pattern="^\d+\.\d{2}$" value=item.amount placeholder="Example: 120.20"}}
				</label>
				<label>
					<strong>Details</strong>
					{{textarea rows="3" value=item.description placeholder="Example: Tipped the hair stylist"}}
				</label>
				<hr>
				<p class="buttons">
					<button type="submit">Add</button>
					<button type="button" {{action 'startOver'}}>Start over</button>
				</p>
			</form>
		</section>
		{{else}}
		<section class="expenses categories">
			{{#each category.nodes as |node|}}
			<figure data-label="{{node.name}}" {{action 'selectNode' node}}>
				<img src="assets/images/icons/{{category.id}}-{{node.id}}.png">
			</figure>
			{{/each}}
		</section>
		{{/if}}
	{{else}}
	<section class="expenses categories">
		{{#each categories as |category|}}
		<figure data-label="{{category.name}}" {{action 'selectCategory' category}}>
			<img src="assets/images/icons/{{category.id}}.png">
		</figure>
		{{/each}}
	</section>
	{{/if}}
{{else}}
<section class="accounts">
	<h2>Select account</h2>
	{{#each model as |account|}}
	<figure {{action 'selectAccount' account}}>
		<h3>{{account.name}}</h3>
	</figure>
	{{/each}}
</section>
{{/if}}
