<header class="thin">
	<h1>Reset password</h1>
	{{back-button}}
</header>

<section>
	<form {{action 'resetPassword' on='submit'}}>
		<p class="success">{{success}}</p>
		<p class="error">{{error}}</p>
		<label>
			{{input type="email" value=email placeholder="Email" required=true}}
		</label>
		<hr>
		<p>
			<button type="submit">Reset password</button>
		</p>
		<p class="button-links">
			{{link-to 'Login' 'login'}}
			{{link-to 'New user?' 'sign-up'}}
		</p>
	</form>
</section>
