<header class="thin">
	<h1>Add income</h1>
	{{back-button}}
</header>

<section class="{{unless category 'categories'}}">
{{#if category}}
	<form {{action 'submit' on='submit' }}>
		<label>
			<strong>Amount</strong>
			{{input type="number" step="any" required=true pattern="^\d+\.\d{2}$" value=item.amount placeholder="Example: 120.20"}}
		</label>
		<label>
			<strong>Details</strong>
			{{textarea rows="3" value=item.description placeholder="Example: Found under the couch"}}
		</label>
		<hr>
		<p>
			<button type="submit">Add</button>
		</p>
	</form>
{{else}}
	{{#each model as |category|}}
	<figure {{action 'selectCategory' category}}>
		<img src="assets/images/icons/{{category.id}}.png">
		<h3>{{category.name}}</h3>
	</figure>
	{{/each}}
{{/if}}
</section>
