<header>
	<h1>{{format-currency total true}}</h1>
	{{link-to null 'settings' class="settings"}}
</header>

{{#scroll-view start=(action 'hideFooter') end=(action 'showFooter')}}
	{{#each model as |item|}}
	<div class="item">
		<figure>
			<img src="assets/images/icons/{{item.category}}.png">
		</figure>
		<h3>
			{{item.description}}
			<small>{{moment-from-now item.time}}</small>
		</h3>
		<span class="{{item.type}}">{{format-currency item.amount}}</span>
	</div>
	{{/each}}
{{/scroll-view}}

{{#if footer}}
<footer>
	{{link-to null 'expenses' class="expense"}}
	{{link-to null 'incomes' class="income"}}
</footer>
{{/if}}
