<header>
	{{#tap-view content=accounts as |item|}}
		<h1>
			<small>{{item.name}}</small>
			{{format-currency item.currency item.total true}}
		</h1>
	{{/tap-view}}
	{{link-to null 'settings' class="settings"}}
</header>

{{#list-view content=model class="items" as |item|}}
	<div class="item" {{action 'editItem' item}}>
		<figure>
			<img src="assets/images/icons/{{item.category}}.png">
		</figure>
		<h3>
			{{item.description}}
			<small>{{moment-from-now item.time}} &#183; {{item.account.name}}</small>
		</h3>
		<span class="{{item.type}}">{{format-currency item.account.currency item.amount}}</span>
	</div>
{{/list-view}}

<footer>
	{{link-to null 'expenses' class="expense"}}
	{{link-to null 'incomes' class="income"}}
</footer>
