<header class="thin">
	<h1>Login</h1>
	{{back-button}}
</header>

<section>
	<form {{action 'login' on='submit'}}>
		<p class="error">{{error}}</p>
		<label>
			{{input type="email" value=email placeholder="Email" required=true}}
		</label>
		<label>
			{{input type="password" value=password placeholder="Password" required=true}}
		</label>
		<hr>
		<p>
			<button type="submit">Login</button>
		</p>
		<p class="button-links">
			{{link-to 'Forgot password?' 'forgot-password'}}
			{{link-to 'New user?' 'sign-up'}}
		</p>
	</form>
</section>
