<header class="thin">
	<h1>Sign up</h1>
	{{back-button}}
</header>

<section>
	<form {{action 'signUp' on='submit'}}>
		<p class="error">{{error}}</p>
		<label>
			{{input type="text" value=name placeholder="Name" required=true}}
		</label>
		<label>
			{{input type="email" value=email placeholder="Email" required=true}}
		</label>
		<label>
			{{input type="password" value=password placeholder="Password" required=true}}
		</label>
		<hr>
		<p>
			<button type="submit">Sign up</button>
		</p>
		<p class="button-links">
			{{link-to 'Forgot password?' 'forgot-password'}}
			{{link-to 'Login' 'login'}}
		</p>
	</form>
</section>
